<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/splide.min.css">
	<link rel="stylesheet" href="~/css/slimselect.css">
	<link rel="stylesheet" href="~/css/plyr.css">
	<link rel="stylesheet" href="~/css/photoswipe.css">
	<link rel="stylesheet" href="~/css/default-skin.css">
	<link rel="stylesheet" href="~/css/main.css">
	


	<!-- Icon font -->
	<link rel="stylesheet" href="~/Upload//">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />


	<!-- Favicons -->
	<link rel="icon" type="image/png" href="~/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="~/icon/favicon-32x32.png">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>HotFlix – Online Movies, TV Shows & Cinema HTML Template</title>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- header logo -->
						<a asp-controller="Home" asp-action="Index" class="header__logo">
							<img src="~/img/logo.svg" alt="">
						</a>
						<!-- end header logo -->
						<!-- header nav -->
						
							
							<!-- dropdown -->
							
							<!-- end dropdown -->
							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link header__nav-link--more" href="index.html#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots"></i></a>

								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="signin.html">Sign in</a></li>
									<li><a href="signup.html">Sign up</a></li>
									<li><a href="forgot.html">Forgot password</a></li>
									<li><a href="404.html">404 Page</a></li>
								</ul>
							</li>
							<!-- end dropdown -->
						</ul>
						<!-- end header nav -->
						<!-- header auth -->
						<div class="header__auth">
							<form asp-controller="Home"  asp-action="Search" method="get" class="header__search">
								<input class="header__search-input" name="query" type="text" placeholder="Search...">
								<button class="header__search-button" type="button">
									<i class="ti ti-search"></i>
								</button>
								<button class="header__search-close" type="button">
									<i class="ti ti-x"></i>
								</button>
							</form>
							<!-- dropdown -->
							<div class="header__profile">
								@if (User.Identity != null && User.Identity.IsAuthenticated)
								{
									<!-- Giriş etmiş istifadəçi -->
									<div class="dropdown">
										<a class="header__sign-in header__sign-in--user dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="ti ti-user"></i>
											<span>@User.Identity.Name</span>
										</a>
										<ul class="dropdown-menu dropdown-menu-end header__dropdown-menu header__dropdown-menu--user">
											<li><a asp-action="Profile" asp-controller="Account"><i class="ti ti-ghost"></i> Profile</a></li>
											@if (User.IsInRole("Admin"))
											{
											<li><a   asp-area="Admin" asp-action="Index"  asp-controller="Dashboard"><i class="ti ti-logout"></i> Admin Panel </a></li>
												
											}
											<li><a asp-action="Logout" asp-controller="Account"><i class="ti ti-logout"></i> Logout</a></li>

										</ul>
									</div>
								}
								else
								{
									<!-- Giriş etməmiş istifadəçi -->
									<div style="display: flex; gap: 10px; align-items: center;">
										<a asp-action="Login" asp-controller="Account" class="header__sign-in"><i class="fa fa-lock"></i> Login</a>
										<a asp-action="Register" asp-controller="Account" class="header__sign-in"><i class="fa fa-lock"></i> Register</a>
									</div>
								}
							</div>

							<!-- end dropdown -->
						</div>
						<!-- end header auth -->
						
						<!-- end header menu btn -->
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->
	@RenderBody()

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<a href="index.html" class="footer__logo">
							<img src="~/img/logo.svg" alt="">
						</a>

						<span class="footer__copyright">© HOTFLIX, 2019—2024 <br> Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">Dmitry Volkov</a></span>

						<nav class="footer__nav">
							<a href="about.html">About Us</a>
							<a href="contacts.html">Contacts</a>
							<a href="privacy.html">Privacy policy</a>
						</nav>

						<button class="footer__back" type="button">
							<i class="ti ti-arrow-narrow-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- JS -->
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/splide.min.js"></script>
	<script src="~/js/slimselect.min.js"></script>
	<script src="~/js/smooth-scrollbar.js"></script>
	<script src="~/js/plyr.min.js"></script>
	<script src="~/js/photoswipe.min.js"></script>
	<script src="~/js/photoswipe-ui-default.min.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>